*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* header section*/

header{
    display: flex;
    justify-content: flex-end;

}
header div{
    position: fixed;
    color: white;
    background-color: rgb(74, 74, 74);
    padding: 0.3em;
    border-radius: 5px;
    margin: 0.3em;
}

header div:first-child{
    margin-right: 2.3em;
}

/* Main section*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    min-width: 250px;
    margin: 50px auto;
}

.immagini{
    width: 200px;
    height: 150px;
    background-color: blue;

}

.secondo{
    background-color: chartreuse;
}

.terzo{
    background-color: coral;
}

.quarto{
    background-color: crimson;
}

.quinto{
    background-color: darkblue;
}

.sesto{
    background-color: darkgray;
}

.settimo{
    background-color: darkseagreen;
}

.ottavo{
    background-color: deepskyblue;
}

.nono{
    background-color: floralwhite;
}